NODE_ENV=development
DEMO_MODE=false
DATABASE_URL="sqlserver://LAPTOP-L4K0EB02:1433;database=GreenEnergyDB;user=sa;password=admin;encrypt=true;trustServerCertificate=true"
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=27bd6168a2257e23cc0cd521ef7d84472ada348e5fa272eb28f31ba7f42b3afa
JWT_REFRESH_SECRET=6ccc973f2ebe62d275e0c9770570fba3e745e8c80fc88f78e6d2ac11208b1231
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=30
CORS_ORIGIN=http://localhost:5173
SENTRY_DSN=
SUPERADMIN_EMAIL=superadmin@allamericanenergy.local
SUPERADMIN_PASSWORD=ChangeMe123!
